@import "tailwindcss";

/* Tells Tailwind v4 to activate dark styles when the .dark class is present */
@variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-300 rounded-full;
  }
  .dark .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-700;
  }
}